*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bgimg{
    height: 2rem;
}



/* .header{
    background-image: url(./photo-1541462608143-67571c6738dd.avif);
   
    
} */
#titleimage{
    /* text-align: center; */
    margin-left: 33rem;
    width: 20rem;
}

.main{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}
#main-heading{
    text-align: center;
    font-size: 30px;
    margin-left: 7rem;
}
.logo{
    display: flex;
    width: 2rem;
    height: 2rem;
    gap: 1rem;
}
.button button{
    width: 9rem;
    height: 2rem;
    border: 1px solid blue;
    border-radius: 20px;
    
}
.ser{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.rdidr{
    text-align: center;
}
.rdidr button{
    height: 2rem;
    width: 8rem;
    border: none;
    color: blue;
}

.labeldiv1{
    display: flex;
    margin-left: 8rem;
    gap: 28.4rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}
.labeldiv2{
    display: flex;
    margin-left: 8rem;
    gap: 25rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}
 #comp1 label {

    margin-right: 9rem;
}
.selectdiv{
    display: flex;
    margin-left: 4rem;
    gap: 1rem;
    

}

select{
    width: 32rem;
    height: 3rem;
   
}
#country{
    margin-left: 4rem;
    margin-top: 0.5rem;
}
#city{
    margin-left: 1.6rem;
    margin-top: 0.5rem;
}

#course{
    margin-left: 4rem;
    margin-top: 0.5rem;
}
#computer{
    margin-left: 1.6rem;
    margin-top: 0.5rem;
}


.labeldiv3{
    display: flex;
    margin-left: 8rem;
    gap: 30.5rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}

.labeldiv4{
    display: flex;
    margin-left: 8rem;
    gap: 32.4rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}

.labeldiv5{
    display: flex;
    margin-left: 8rem;
    gap: 32.4rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}
.labeldiv6{
    display: flex;
    margin-left: 8rem;
    gap: 29.4rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}

.labeldiv7{
    display: flex;
    margin-left: 8rem;
    gap: 29.4rem;
    margin-top: 2rem;
    color: blue;
    font-size: 14px;
    font-weight: 550;
    
    
}
.inputdiv7 input{
    margin-left: 8rem;
    width: 67rem;
    height: 3rem;
    margin-top: 0.5rem;


}
.inputdiv7 button{
    margin-left: 8rem;
    width: 67rem;
    height: 3rem;
    margin-top: 0.5rem;
    background-color: rgb(57, 104, 167);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: large;

}


.inputdiv{
    display: flex;
    margin-left: 8rem;
    gap: 2.7rem;
    margin-top: 0.5rem;
    

}

input{
    width: 32rem;
    height: 3rem;
}